<div class="row mb-5">
    <div class="col-xl-8 col-lg-7">
        <div class="card d-block">
            <div class="card-header border-bottim">
                <h4 class="my-0">About</h4>
            </div>
            <div class="card-body">
                <p class="mb-3 text-justify">
                    This project offers weather forecasts and notifications for various upazilas in Bangladesh's Cox's Bazar district. Due to its coastal location and housing of the world's biggest refugee camp, Cox's Bazar is extremely susceptible to weather variations. Communities, disaster management authorities, and humanitarian actors can employ location-specific forecasts.
                    <br><br>
                    The project will allow people to live safely. The goal of this project is to put together a working prototype of a decision support system that could help extension agents find different solutions to reduce flood damage to agriculture and other sectors.
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-5">
        <div class="card">
            <div class="card-header">
                <h4 class="my-0">Contact Details</h4>
            </div>
            <div class="card-body text-center">
                <img src="assets/tushi.jpg" alt="" style="height: 100px; border-radius: 100px;">
                <h3 class="mt-5">Tubaishi Rubab Tushi</h3>
                <p>tubaishi05@gmail.com</p>
                <h5>CSE202103083</h5>
            </div>
        </div>
    </div>
</div>